body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(hsl(220deg, 80%, 80%), hsl(250deg, 80%, 80%));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 2em;
  width: 45rem;
  height: 30rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 79%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getCity {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
input {
  border-radius: 0.5rem;
  border: none;
  box-sizing: border-box;
  height: 2em;
  width: 15rem;
  padding: 0 1em;
  font-size: large;
}
.submit {
  border: none;
  padding: 0.3em 1em;
  border-radius: 0.5rem;
  font-size: large;
  transition: background-color 1s;
}
.submit:hover {
  background-color: black;
  color: white;
  /* transition: ease-in-out; */
}
.location {
  display: flex;
  font-size: xx-large;
  gap: 2rem;
  font-weight: 800;
}
.data {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
  gap: 1em;
}
.temp {
  display: flex;
  gap: 0.5rem;
}
.units {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.cel {
  width: 6rem;
  padding: 0;
}
